:host {
  display: block;
  flex: 1;
  width: 100%;
}

.analytics-page-container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 2rem 20%;
}

:host-context(ui-dashboard-wrapper) .analytics-page-container {
  padding: 2rem;
}

@media (max-width: 640px) {
  .analytics-page-container {
    padding: 1.5rem 10%;
  }

  :host-context(ui-dashboard-wrapper) .analytics-page-container {
    padding: 1.5rem 1rem;
  }
}
